<% include ../partials/header %>
<div class="container">
    <div class="row"> <!--Here we add the grid system with "row" class-->
        <!--Here we have the id of the campground we want to add the comments to
        This id was sent from the new comments route so we can associate it to the comnments-->
        <div class="form">
            <div class="form-header">
                <h4 class="header-text">Add comment to: <span><%= foundCampGround.name %></span></h4>
            </div>
            <div class="form-fields">
            <form action="/campgrounds/<%= foundCampGround._id %>/comments" method="POST">
                <div class="form-group">
                    <input class="form-control" name="comment[text]" type="text" placeholder="New Title">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Add comment</button>
                </div>
            </form>
        <a href="/campgrounds">Go Back</a>
        </div>
    </div>
</div> <!--Container ends here-->
<% include ../partials/footer %>